{% extends 'actstream/base.html' %}
{% load url from future %}
{% load activity_tags i18n %}
{% block extra_head %}
<script>
$(function () {
    $("#follow_button, #unfollow_button").click(function () {
        $.post($(this).attr("href"), {});
        $(this).parent().find("#follow_button, #unfollow_button").toggle();
        return false
    });
});
</script>
{% endblock %}


{% block title %}{% ifequal user actor %}Your feed{% else %}{{ actor }}{% endifequal %}{% endblock %}
{% block content_title %}{% ifequal user actor %}Your feed{% else %}{{ actor }}{% endifequal %}{% endblock %}


{% block content %}
{% if user.is_authenticated %}
{% ifequal user actor %}{% else %}
    <p><b><a href="{% actor_url user %}">{% trans "View my actions" %}</a></b></p>
{% endifequal %}
{% endif %}
{% for action in action_list %}
    <div class="alert alert-info" role="alert">{% include 'actstream/action.html' %}</div>
{% empty %}
{% trans "No actions yet" %}
{% endfor %}
{% endblock %}
