body > .container {
    background: #f8f8f8;
    -webkit-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.36);
    box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.36);
}
.btn {
    -webkit-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s;
}
.btn.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}
.btn.btn-default:hover {
    border-color: #999;
}
.btn.btn-read {
    width: 10%;
    background: #2780e3;
    color: white;
    border: 1px solid #2780e3;
    margin: 0;
    margin-top: 14px;
    padding: 0;
    float: right;
}
body > .container > h1 {
    margin: 0;
    padding-top: 21px;
    padding-bottom: 10.5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -15px;
    margin-right: -15px;
    border-bottom: 1px solid #ddd;
}
h1#email .name{
    color: red;
}
h1#email.online .name{
    color: inherit;
}
#countDown {
    float:right;
    background: white;
    border-radius: 3px;
    min-width: 40px;
    display: inline-block;
    text-align: center;
}
.panel-left {
    border-right: 1px solid #ddd;
    background: #f8f8f8;
}
.panel-right {
    background: white;
    min-height: 900px;
}
.line-list {
    clear: both;
    overflow: auto;
    padding: 6px;
}
.line-list > li {
    padding: 4px;
    font-size: 12px;
    height: 48px;
    width: 278px;
    background: white;
    float: left;
    margin: 2px;
    transition: all .18s;
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.16);
}
.line-list > li:hover {
    background: #f5f5f5;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.16);
}
.line-list > li.worked {
    background-color: #2780e3;
}
.line-list > li.worked.me {
    background-color: #17B591;
}
.line-list > li.expired {
    background-color: #bbb;
}
.line-list > li img {
    max-height: 36px;
    width: 36px;
    display: block;
    margin-right: 8px;
    float: left;
    background: #f8f8f8;
}
.line-list > li > a {
    display: block;
    overflow: auto;
}
.line-list > li.worked > a {
    color: white;
}
.line-list > li.blocked {
    background: #f5f5f5;
}
.line-list > li.blocked > a {
    color: gray;
    cursor: context-menu;
}
.line-list > li > a > div {
    display: block;
    padding-left: 8px;
    float: left;
    margin-top: 9px;
}
.line-list > li > a div.worked_by {
    font-size: 10px;
    color: #666;
    margin-top: -3px;
}
.line-list > li.worked > a div.worked_by {
    color: #ddd;
}
.line-list > li > a > span.badge {
    margin-top: 6px;
    float: right;
}

#addContactModal #addContactResult button {
    min-width: 100px;
    border-radius: 6px;
}
.icon {
    max-width: 51px;
    margin-right: 5px;
}
#hiddenContactBtn {
    display: none;
}
#linkBlockedBtn {
    display: none;
}
#linkIndexBtn {
    display: none;
}
.line-list > li > a > div.align-right {
    float: right;
    text-align: right;
    margin-top: 0;
    padding-left: 0;
}
div.message_date {
    font-size: 10px;
    color: #777;
}

@media(max-width: 600px) {
    body > .container > h1#user {
        font-size: 1em;
        width: 40%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    body > .container > h1#email {
        font-size: 1em;
        width: 50%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    body > .container > h2 {
        display: none;
    }
    #countDown {
        display: none;
    }

    body > .container > h1 {
        float: left;
        padding: 10px 0;
        margin: 0;
    }
    #hiddenContactBtn {
        display: block;
    }
    #linkBlockedBtn {
        display: block;
        background: #red;
        color: white;
        margin: 0;
        width: 5%;
        margin-top: 14px;
        padding: 0;
        float: right;
    }
    input#searchTxt {
        display: none;
    }
    body {
        padding-top: 0;
    }
    .navbar-fixed-top {
        display: none;
    }
    .search-panel {
        display: none;
    }
    button.btn.modal-contact {
        background: #2780e3;
        color: white;
        border: 1px solid #2780e3;
        margin: 0;
        width: 5%;
        margin-top: 14px;
        padding: 0;
        float: right;
    }
    #linkIndexBtn {
        display: block;
        background: #2780e3;
        color: white;
        border: 1px solid #2780e3;
        margin: 0;
        width: 5%;
        margin-top: 14px;
        padding: 0;
        float: right;
    }
    .icon {
        max-width: 32px;
    }
    .line-list > li {
        width: 100%;
    }
}