{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/contact_list.css' %}">
{% endblock css %}

{% block container %}
    <div class="container">
        <h1 id="user">
            <img class="icon" src="{% static 'images/chat_room.png' %}" alt=""/>{{ user }}
        </h1>
        <h1 id="email">
            {% if account.is_online %}
                <img class="icon" src="{% static 'images/line.jpg' %}" alt="">
            {% else %}
                <img class="icon" src="{% static 'images/line_offline.jpg' %}" alt="">
            {% endif %}
            {{ account }}
        </h1>
        <a href="{% url 'index' %}" id="linkIndexBtn" class="btn btn-default" style="">&lt;</a>
        <div style="clear: both;"></div>

        <h2>Blocked</h2>
        <ul class="line-list list-unstyled">
            {% for contact in contacts %}
                <li class="blocked">
                    <a href="#" data-target=".panel-right" data-name="{{ contact }}">
                        {% if config.show_contact_picture %}
                            <img src="{{ contact.profile_picture_url }}" alt=""/>
                        {% endif %}
                        <div>
                            <div>{{ contact }}</div>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock container %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function(){
    });
</script>
{% endblock script %}
