{% extends "base.html" %}
{% load static %}

{% block title %}{{ contact.name }} - {{ account }}{% endblock title %}
{% block css %}
<style>
body {
    background: url({% static 'images/bg.png' %});
    background-size: cover;
    padding-top: 61px;
    padding-bottom: 60px;
}
.navbar-default .navbar-nav>li a.btn.btn-primary,
.navbar-default .navbar-nav>li a.btn.btn-success,
.navbar-default .navbar-nav>li button {
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.navbar-default .navbar-nav>li a.btn.btn-primary:hover,
.navbar-default .navbar-nav>li a.btn.btn-primary:focus {
    background-color: #3A8BE5;
    border-color: #3A8BE5;
}
.navbar-default .navbar-nav>li a.btn.btn-success:hover,
.navbar-default .navbar-nav>li a.btn.btn-success:focus {
    background-color: #56C831;
    border-color: #56C831;
}
.navbar-default .navbar-nav>li button.btn.btn-warning:hover,
.navbar-default .navbar-nav>li button.btn.btn-warning:focus {
    background-color: #FF8B3D;
    border-color: #FF8B3D;
}
.navbar-default {
    background: rgba(0, 0, 0, 0.8);
    border: 0;
    min-height: 61px;
}
.navbar-brand > img {
    display: inline;
}
.navbar-brand {
    padding: 5px 5px;
    height: inherit;
    font-size: 24px;
}
.container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
    float: left;
}
.navbar-right {
    float: right !important;
    margin-right: -15px;
}
.navbar-right > li {
    margin-right: 5px;
}
.navbar-nav {
    margin: 0;
}
.navbar-nav > li {
    float: left;
}
.navbar-nav > li a,
.navbar-nav > li button {
    min-height: 60px;
    padding-top: 18px;
    font-size: 18px;
    min-width: 60px;
}
.server-status {
    color: rgba(0,0,0,0);
}
.server-status.online {
    color: limegreen;
}
.server-status.offline {
    color: red;
}


#chatWindow {
    list-style-type: none;
    padding: 0 20px;
    /*height: 486px;   hack for firefox 
    overflow: auto;*/
}
#chatWindow li {
    padding: 2px 0;
}
#chatWindow .chat-img {
    margin-right: 10px;
    width: 36px;
    border-radius: 18px;
}
#chatWindow .message {
    background: #f5f5f5;
    border-radius: 14px;
    padding: 7px 15px;
    font-size: {{ config.chat_font }}px;
    display: inline-block;
    margin: 2px 0;
    word-break: break-all;
}
#chatWindow .message img {
    max-width: 200px;
    max-height: 300px;
}
#chatWindow .time, #chatWindow .read {
    font-size: 10px;
    display: inline-block;
    margin: 2px 0;
    color: white;
}
#chatWindow li.me {
    text-align: right;
}
#chatWindow li.me .message {
    background: rgb(24, 128, 219);
    color: white;
}
#chatWindow li.me .message.sticker, #chatWindow .message.sticker {
    background: none;
}
#chatWindow li.other {
    text-align: left;
}

#keyboardZone {
    position: fixed;
    bottom: 0;
    width: 100%;
}
#keyboardZone textarea {
    width: 100%;
    height: 60px;
    font-size: 12px;
    display: block;
    resize: none;
    border: 0;
    border-top: 1px;
    border-top: 1px solid #aaa;
}

#template {
    display: none;
}
.message > a {
    text-decoration: underline;
}
.me .message > a {
    color: white;
}
</style>
{% endblock css %}
{% block body %}
<header>
    <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a href="#" class="navbar-brand"><img src="{{ contact.profile_picture_url }}" alt="" style="padding-right: 10px;"/><span class="server-status">&bull;</span> {{ contact }}</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form id="historyForm" action="{% url "ajax_fetch_history_chat" contact.lineid %}">
                        <input type="hidden" name="first_message_id" value="" />
                        <button id="historyBtn" class="btn btn-warning" href="#"><span class="glyphicon glyphicon-backward" ></span></button>
                    </form>
                </li>
                <li>
                    <form id="uploadForm" action="">
                        <input id="imageUpload" name="image" type="file" style="display: none;"/>
                    </form>
                    <a id="browseBtn" class="btn btn-primary" href="#">
                        <span class="glyphicon glyphicon-upload" ></span>
                    </a>
                </li>
                <li><a id="finishedBtn" class="btn btn-success" href="#"><span class="glyphicon glyphicon-ok" ></span></a></li>
            </ul>
        </div>
    </nav>
</header>

<ul id="chatWindow">
    {% for message in messages %}
        {% if message.sender.lineid != account_lineid %}
            <li class="other">
                <table>
                    <tr>
                        <td>
                            <img class="chat-img" src="{{ message.sender.profile_picture_url }}" alt="" />
                        </td>
                        <td>
                            <span class="message">{{ message }}</span>
                        </td>
                    </tr>
                </table>
            </li>
        {% else %}
            <li class="me">
                <span class="message">{{ message }}</span>
            </li>
        {% endif %}
    {% endfor %}
</ul>

<div id="template">
    <li class="other">
        <table>
            <tr>
                <td>
                    <img class="chat-img" src="" alt="" />
                </td>
                <td>
                    <span class="message"></span> <span class="time"></span>
                </td>
            </tr>
        </table>
    </li>
    <li class="me">
        <span class="sender" style="display: block;font-size: 10px;color: white;margin-right: 10px;"></span>
        <span class="read"></span> <span class="time"></span> <span class="message"></span>
    </li>
</div>

{% block keyboard_zone %}
    <div id="keyboardZone">
        <form id="messageForm" action="{% url 'ajax_send_message' contact.lineid %}" method="get">
            <textarea name="message" id="messageTxt" cols="30" rows="10" placeholder="Enter message here..."></textarea>
        </form>

    </div>
{% endblock keyboard_zone %}
<audio id="notificationSound" src="{% static 'sounds/navigate_stab_2.mp3' %}" preload="auto"></audio>
<audio id="notificationSendSound" src="{% static 'sounds/navigate_36.mp3' %}" preload="auto"></audio>
{% endblock body %}

{% block script %}

<script src="{% static "js/jquery.titlealert.js" %}"></script>
<script src="{% static "js/autolinker.min.js" %}"></script>
<script type="text/javascript">

    {% block script_url %}
        var ajax_mark_read_chat_url = '{% url "ajax_mark_read_chat" contact.lineid %}';
        var ajax_fetch_chat_url = '{% url "ajax_fetch_chat" contact.lineid %}';
        var ajax_close_chat_url = '{% url "ajax_close_chat" contact.lineid %}';
    {% endblock script_url %}
    var latest_message_id = {{ message_latest_id|default:'null' }};
    var first_message_id = null;
    var init_update = true;
    var latest_line_read_message_id = null;

    $.fn.multiline = function(text){
        this.text(text);
        var linkedText = Autolinker.link(this.html(), {'stripPrefix': false});
        this.html(linkedText);
        this.html(this.html().replace(/\n/g,'<br/>'));
        return this;
    }

    function update_chat(data, method) {
        if(method === undefined)
            method = 'append';
        var is_received = false;
        var is_sended = false;
        var is_bottom = ($(window).scrollTop() + $(window).height() == $(document).height());
        latest_line_read_message_id = data.latest_line_read_message_id;
        $('#chatWindow > li.me').each(function() {
            var message_id = $(this).data('id');
            if(latest_line_read_message_id !== null && latest_line_read_message_id >= message_id) {
                $(this).find('.read').text('read ');
            }
        });

        for(var index in data.messages) {
            var is_me = false;
            var entity = data.messages[index];
            var html = null;
            if(entity.sender_id != data.account_lineid) {
                is_received = true;
                html = $('#template > li.other').clone();
                html.find('.chat-img').attr('src', entity.sender_profile_picture_url);
            }
            else {
                is_me = true
                is_sended = true;
                html = $('#template > li.me').clone();
            }
            html.find('.sender').text(entity.read_by);
            if(entity.content_type == 0)
                html.find('.message').multiline(entity.text);
            else if(entity.content_type == 1) {
                if(entity.content_preview) {
                    html.find('.message').html('<a href="' + entity.content + '" target="_blank"><img src="' + entity.content_preview + '"/></a>');
                }
                else {
                    html.find('.message').html('<a href="' + entity.content + '" target="_blank"><img src="#"/></a>');
                }
            }
            else if(entity.content_type == 2) {
                html.find('.message').html('<img src="'+ entity.text +'" />').addClass('sticker');
            }
            html.find('.time').text(entity.created_on);
            html.data('id', entity.id);

            if(is_me && latest_line_read_message_id !== null && latest_line_read_message_id >= entity.id) {
                html.find('.read').text('read ');
            }

            if(entity.id > latest_message_id)
                latest_message_id = entity.id;
            if(entity.id < first_message_id || first_message_id === null)
                first_message_id = entity.id;

            if(method == 'append')
                $('#chatWindow').append(html);
            else if(method == 'prepend')
                $('#chatWindow').prepend(html);
        }
        if(is_received && !init_update && method != 'prepend') {
            $.titleAlert("New messages!", {
            });
            $('#notificationSound')[0].play();
        }
        if(is_sended && !init_update) {
            $('#notificationSendSound')[0].play();
        }
        init_update = false;
        if(is_bottom) {
            $("html, body").animate({ scrollTop: $(document).height() }, "slow");
        }
        if(latest_message_id) {
            if(ajax_mark_read_chat_url) {
                var params = {
                    'read_message_id': latest_message_id,
                };
                $.getJSON(ajax_mark_read_chat_url, params, function(data) {
                });
            }
        }
    }

    $(document).ready(function(){
        $("#messageTxt").keydown(function(e){
            // Enter was pressed without shift key
            if (e.keyCode == 13 && !e.shiftKey)
            {
                // prevent default behavior
                $('#messageForm').trigger('submit');
                e.preventDefault();
            }
        });
        $('#messageForm').submit(function(){
            var data = $(this).serialize();
            var action = $(this).attr('action');
            $('#messageTxt').val('');  // Clear
            $.getJSON(action, data, function(data){
                console.log(data);
            });
            return false;
        });
        if(ajax_close_chat_url) {
            $('#finishedBtn').click(function(){
                $.getJSON(ajax_close_chat_url, function(data){
                    if(data.success === true) {
                        window.close();
                    }
                    else {
                        alert('Close Error');
                        console.log(data);
                    }
                });
                return false;
            });
        }
        else {
            $('#finishedBtn').hide();
        }

        $('#browseBtn').click(function(){
            var imageUpload = $('#imageUpload')[0];
            if(imageUpload && document.createEvent) {
                var evt = document.createEvent("MouseEvents");
                evt.initEvent("click", true, false);
                imageUpload.dispatchEvent(evt);
            }
            return false;
        });

        $('#historyForm').submit(function(){
            $('input[name=first_message_id]').val(first_message_id);
            $.getJSON($(this).attr('action'), $(this).serialize(), function(data){
                update_chat(data, 'prepend');
            });
            return false;
        });

        $('#imageUpload').change(function(){
            var file = this.files[0];
            name = file.name;
            size = file.size;
            type = file.type;

            if(file.name.length < 1) {
            }
            else if(file.size > 1000000) {
                alert("File is to big");
            }
            else if(file.type != 'image/png' && file.type != 'image/jpg' && !file.type != 'image/gif' && file.type != 'image/jpeg' ) {
                alert("File doesnt match png, jpg or gif");
            }
            else { 
                var formData = new FormData($('#uploadForm')[0]);
                $.ajax({
                    url: '/upload_image/?line_userid={{ contact.lineid }}',  //server script to process data
                    type: 'POST',
                    xhr: function() {  // custom xhr
                        myXhr = $.ajaxSettings.xhr();
                        if(myXhr.upload){ // if upload property exists
                            // myXhr.upload.addEventListener('progress', progressHandlingFunction, false); // progressbar
                        }
                        return myXhr;
                    },
                    //Ajax events
                    success: completeHandler = function(data) {
                        /*
                        * workaround for crome browser // delete the fakepath
                        */
                        if(navigator.userAgent.indexOf('Chrome')) {
                            var catchFile = $(":file").val().replace(/C:\\fakepath\\/i, '');
                        }
                        else {
                            var catchFile = $(":file").val();
                        }
                        $('#imageUpload').val('');
                        // var writeFile = $(":file");
                        // writeFile.html(writer(catchFile));
                        // $("*setIdOfImageInHiddenInput*").val(data.logo_id);
                    },
                    error: errorHandler = function(e) {
                        alert("Error");
                        console.log(e);
                    },
                    // Form data
                    data: formData,
                    //Options to tell JQuery not to process data or worry about content-type
                    cache: false,
                    contentType: false,
                    processData: false
                }, 'json');
            }
        });

        (function fetch_chat() {
            setTimeout(function() {
                var params = {
                    latest_message_id: latest_message_id,
                };
                $.ajax({ url: ajax_fetch_chat_url, data: params, success: function(data) {
                    $('.server-status').removeClass('offline').addClass('online');
                    update_chat(data);
                }, dataType: "json", error:function(){
                    $('.server-status').removeClass('online').addClass('offline');
                }, complete: fetch_chat });
            },  1000);
        })();
    });
</script>

{% endblock script %}

