{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/contact_list.css' %}">
{% endblock css %}

{% block container %}
    <div class="container">
        <h1 id="user">
            <img class="icon" src="{% static 'images/chat_room.png' %}" alt=""/>{{ user }}
            {% block  userheader %}
            {% endblock userheader %}
        </h1>
        <h1 id="email" class="{% if account.is_online %}online{% endif %}">
            {% if account.is_online %}
                <img class="icon" src="{% static 'images/line.jpg' %}" alt=""><span class="name">{{ account }}</span>
            {% else %}
                <img class="icon" src="{% static 'images/line_offline.jpg' %}" alt=""><span class="name">{{ account }}</span>
            {% endif %}
            
            <span id="countDown"></span>
        </h1>
        {% block actionbar %}
            <button id="hiddenContactBtn" type="button" class="btn btn-default modal-contact" style="">+</button>
            <a href="{% url 'blocked' %}" id="linkBlockedBtn" class="btn btn-danger" style="">-</a>
        {% endblock actionbar %}
        <div style="clear: both;"></div>
        {% block search %}
            <div class="search-panel row">
                <form id="searchContactForm" action="">
                    {% csrf_token %}
                    <div class="input-group">
                        <input id="searchTxt" name="q" type="text" class="form-control" placeholder="Search contact..." style="border: 0; border-bottom: 1px solid #eee;">
                        <span class="input-group-btn">
                            <button id="ModalContactBtn" type="button" class="btn btn-default modal-contact" style="background: #2780e3; color: white; border: 1px solid #2780e3; margin: 0;">+</button>
                        </span>
                    </div>
                </form>
            </div>
        {% endblock search %}

        {% if config.display_groups %}
            {% block contact_group %}
                <h2>Groups</h2>
                <ul class="line-groups line-list list-unstyled">
                </ul>
            {% endblock contact_group %}
        {% endif %}

        {% if config.display_rooms %}
            {% block contact_room %}
                <h2>Rooms</h2>
                <ul class="line-rooms line-list list-unstyled">
                </ul>
            {% endblock contact_room %}
        {% endif %}

        {% if config.display_contacts %}
            {% block contact %}
                <h2>Contacts</h2>
                <ul class="line-contacts line-list list-unstyled">
                </ul>
            {% endblock contact %}
        {% endif %}
    </div>

    <div class="modal fade" id="addContactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Contact</h4>
                </div>
                <div class="modal-body" style="padding-top: 0; padding-left: 0; padding-right: 0;">
                    <form id="addContactForm" style="padding-bottom: 20px;">
                        {% csrf_token %}
                        <div class="input-group">
                            <input name="line_userid" type="text" class="form-control" placeholder="Search contact..." style="border: 0; border-bottom: 1px solid #eee;">
                            <span class="input-group-btn">
                          active_contacts      <button id="addContactBtn" class="btn btn-default" style="background: #2780e3; color: white; border: 1px solid #2780e3; margin: 0;">+</button>
                            </span>
                        </div>
                    </form>
                    <center id="addContactResult">
                        <img id="addContactPicture" src="" alt="" />
                        <h3 id="addContactName" style="margin-bottom: 3px;"></h3>
                        <div id="addContactStatusMessage" style="color: #999;"></div>
                        <div id="addContactAddStatus" style="color: #999; margin-top: 20px; margin-bottom: 15px;"></div>
                        <button id="confirmAddContactBtn" type="button" class="btn btn-success">Add</button>
                        <button id="clearAddContactBtn"  type="button" class="btn btn-default">Cancel</button>
                    </center>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    {% if notification_sound_url %}
        <audio id="notificationSound" src="{{ notification_sound_url }}" preload="auto" ></audio>
    {% endif %}
    <div id="template" style="display: none;">
        <ul id="templateElement">
            <li class="" data-lineid="">
                <a href="" data-target=".panel-right" data-name="">
                    {% if config.show_contact_picture %}
                        <img src="" alt=""/>
                    {% endif %}
                    <div>
                        <div class="name"></div>
                        <div class="worked_by"></div>
                    </div>
                    <div class="align-right">
                        <div class="message_date"></div>
                            <span class="badge"></span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
{% endblock container %}

{% block script %}
<script type="text/javascript">
    var countDownPause = false;
    var ajax_add_contact_by_userid_url = '{% url "ajax_add_contact_by_userid" %}';
    var ajax_contacts = '{% url "contacts" %}';
    var show_contact_picture = {% if config.show_contact_picture %}true{% else %}false{% endif %};
    var countDownTime = {% if config.auto_reload %}{{ config.auto_reload }}{% else %}null{% endif %};
    var latest_message_id = null;

    function updateContact(contact, target, user_id) {
        var li = target.find('li[data-lineid='+contact.lineid+']');
        if( li.length == 0)
            li = $('#templateElement > li').clone();
        else
            li.detach();
        target.append(li);  // should sort by unread

        li.attr('data-lineid', contact.lineid);
        li.removeClass('noprocess');
        li.removeClass('worked');
        li.removeClass('expired');
        li.removeClass('me');

        if(contact.is_working) {
            li.addClass('worked');
        }
        else if(contact.is_worked_expired) {
            li.addClass('expired');
        }
        if(contact.worked_by_id == user_id) {
            li.addClass('me');
        }
        var a = li.find('a');
        a.attr('href', '/chat/' + contact.lineid + '/');
        a.attr('data-name', contact.name);
        if(show_contact_picture)
            li.find('img').attr('src', contact.profile_picture_url);
        li.find('div.name').text(contact.name);
        if(contact.latest_worked_by) {
            var contact_ago = ' ' + '(' + contact.worked_on + ')';  // ago
            li.find('.worked_by').text(contact.latest_worked_by + contact_ago);  // + contact_ago
            li.find('.worked_by').show();
        }
        else {
            li.find('.worked_by').hide();
        }
        if(contact.latest_message) {
            li.find('.message_date').text(contact.latest_message);
        }
        if(contact.unread_messages_count) {
            li.find('.badge').text(contact.unread_messages_count);
            li.find('.badge').show();
        }
        else {
            li.find('.badge').hide();
        }
    }

    function updateContacts(data) {
        if(data.is_online) {
            $('#email').addClass('online');
            $('#email > img.icon').attr('src', '{% static "images/line.jpg" %}');
        }
        else {
            $('#email').removeClass('online');
            $('#email > img.icon').attr('src', '{% static "images/line_offline.jpg" %}');
        }
        var target = $('.line-groups');
        var user_id = data.user_id;
        if(target.length > 0) {
            for(var i in data.groups) {
                var group = data.groups[i];
                updateContact(group, target, user_id);
            }
        }

        target = $('.line-rooms');
        if(target.length > 0) {
            for(var i in data.rooms) {
                var group = data.rooms[i];
                updateContact(group, target, user_id);
            }
        }

        target = $('.line-contacts');
        target.find('li').addClass('noprocess');
        if(target.length > 0) {
            for(var i in data.contacts) {
                var group = data.contacts[i];
                updateContact(group, target, user_id);
            }
        }
        target.find('li.noprocess').detach();

        if(data.has_unread_message) {
            if($('#notificationSound').length > 0) {
                $('#notificationSound')[0].play();
            }
        }
        latest_message_id = data.latest_message_id;
    }

    function getContacts() {
        var params = {};
        if(latest_message_id !== null) {
            params['latest_message_id'] = latest_message_id;
        }
        $.ajax({
            url: ajax_contacts,
            data: params,
            success: function(data) {
                updateContacts(data);
            },
            dataType: "json",
            error: function(){
                $('#email').removeClass('online');
            },
            complete: function(){
                if(countDownTime) {
                    countDown(countDownTime);
                }
            }
        });
    }
    function countDown(timeout) {
        $('#countDown').text(timeout);
        if(countDownPause) {
            setTimeout(function(){countDown(timeout);}, 1000);
            return;
        }
        if(timeout > 0) {
            timeout--;
            setTimeout(function(){countDown(timeout);}, 1000);
        }
        else if(timeout <= 0) {
            $('#countDown').text("Reload...");
            getContacts();
        }
    }
    $(document).ready(function() {
        $('#searchContactForm').submit(function(){
            // TODO: Search here?
            return false;
        });
        getContacts();
        var clearAddContact = function(){
            $('#addContactPicture').attr('src', '');
            $('#addContactName').text('');
            $('#addContactStatusMessage').text('');
            $('#addContactAddStatus').text('');
            $('#confirmAddContactBtn').hide();
            $('#clearAddContactBtn').hide();
        };
        $('.modal-contact').click(function(){
            clearAddContact();
            $('#addContactModal').modal('show');
        });
        $('#clearAddContactBtn').click(function(){
            clearAddContact();
        });
        $('#addContactForm').submit(function(data){
            var line_userid = $('input[name="line_userid"]').val();
            var add_url = '{% url 'ajax_find_contact_by_userid' %}';
            var params = {
                'line_userid': line_userid,
            };
            clearAddContact();

            $.getJSON(add_url, params, function(data){
                if(data.success) {
                    $('#confirmAddContactBtn').show();
                    $('#clearAddContactBtn').show();
                    $('#addContactPicture').attr('src', data.contact.profile_picture_url);
                    $('#addContactName').text(data.contact.name);
                    $('#addContactStatusMessage').text(data.contact.status_message);
                    if(data.contact.source == 'other') {
                    }
                    else if(data.contact.source == 'contact') {
                        $('#addContactAddStatus').text('ผู้ใช้นี้เป็นเพื่อนของคุณอยู่แล้ว');
                        $('#confirmAddContactBtn').addClass('disabled');
                    }
                    else if(data.contact.source == 'self') {
                        $('#addContactAddStatus').text('คุณไม่สามารถเพิ่มตัวเองเป็นเพื่อนได้');
                        $('#confirmAddContactBtn').addClass('disabled');
                    }
                }
                else {
                    var message = data.message;
                    if(message == 'Blocked.') {
                        message = 'เกินจำนวนครั้งค้นหาสูงสุดที่กำหนดไว้แล้ว ไม่สามารถใช้การค้นหาไอดีได้ชั่วคราว';
                    }
                    $('#addContactAddStatus').text(message);
                    $('#clearAddContactBtn').show();
                }
            });
            return false;
        });
        $('#confirmAddContactBtn').click(function(){
            var line_userid = $('input[name="line_userid"]').val();
            var params = {
                'line_userid': line_userid,
            };
            $.getJSON(ajax_add_contact_by_userid_url, params, function(data){
                if(data.success) {
                    location.reload();
                }
                else {
                    alert('Cannot add line contact.');
                }
            });
        });
        $('#addContactModal').on('show.bs.modal', function (e) {
            countDownPause = true;
        });
        $('#addContactModal').on('hidden.bs.modal', function (e) {
            countDownPause = false;
        });
        $('body').on('click', 'a[data-target]', function(){
            var target = $(this).data('target');
            var name   = $(this).data('name');
            var href   = $(this).attr('href');
            window.open(href, name,'height=600,width=500');
            return false;
        });
    });
</script>
{% endblock script %}
