{% load pickertags %}{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}LINE Distribute{% endblock title %}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block head %}{% endblock head %}
	{% load_css %}
	<style type="text/css">
	body{
		padding-top: 50px;
	}
	.hero-page {
		padding-top: 100px;
		padding-bottom: 20px;
	}
	.hero-page > h1 {
		text-align: center;
	}
	form.form-p label {
		min-width: 200px;
	}
	</style>
	{% block css %}{% endblock %}
	{% block less %}{% endblock %}
	{% load_js %}
	{% block script %}{% endblock script %}
	{% block extra_head %}{% endblock %}
</head>
<body>
	{% block body %}
	<header>
		<nav class="navbar navbar-fixed-top navbar-default">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
				    </button>
				    <a href="/" class="navbar-brand">LINE Distribute</a>
				</div>

				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav" >
						<li><a href="{% url 'index' %}">Home</a></li>
						<li><a href="{% url 'developer' %}">Developer</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if user.is_authenticated %}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">{{ user }} <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								{% if user.is_superuser %}
									<li><a href="/admin/">Admin</a></li>
									<li class="divider"></li>
								{% endif %}
								<li><a href="{% url 'accounts.logout' %}">Log out</a></li>
							</ul>
						</li>
						{% else %}
							<li><a href="/accounts/login/">Login</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
	</header>
	{% endblock body %}
	{% block container %}{% endblock container %}
</body>
</html>