{% extends "base.html" %}

{% block container %}
<div class="container">
    <h1>
        Manage accounts
        <a href="{% url 'add_account' %}" class="btn btn-primary pull-right">Add account</a>
    </h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Status</th>
                <th>Created on</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
                <tr>
                    <td><a href="{% url 'manage_account' account.pk %}">{{ account.email }}</a></td>
                    <td>{{ account.status }}</td>
                    <td>{{ account.created_on }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock container %}
