{% extends "base.html" %}

{% block css %}
<style>
.profile-pic {
    max-width: 28px;
}
.access-token-txt {
    display: inline;
    width: 200px;
}
.tr-contact {
    display: none;
}
</style>
{% endblock css %}

{% block container %}
<div class="container">
    <h1>
        Account: {{ account }}
        <a href="{% url 'messages_history' account.pk %}" class="btn btn-primary pull-right">Messages history</a>
        {% if not account.is_verified %}
            <a href="{% url 'verify_account' account.pk %}" class="btn btn-info pull-right" style="margin-right: 5px;">Go to verify page</a>
        {% else %}
            <a href="#" id="getContactsBtn" class="btn btn-info pull-right" style="margin-right: 5px;">Refresh contact</a>
        {% endif %}
    </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Status</th>
                <th>Created on</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ account.email }}</td>
                <td>{{ account.status }}</td>
                <td>{{ account.created_on }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Token</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in account.groups.all %}
                <tr data-lineid="{{ contact.lineid }}">
                    <td><img src="{{ contact.profile_picture_url }}" class="profile-pic" alt=""/> {{ contact.name }}</td>
                    <td>
                        {% if contact.access_token %}
                            <input type="text" class="form-control input-sm access-token-txt" value="{{ contact.access_token }}">
                        {% else %}
                            <a href="#" class="btn btn-default btn-sm btn-token" data-accountid="{{ account.pk }}" data-lineid="{{ contact.lineid }}">Get token</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="2"><a id="loadContactBtn" href="#" class="btn btn-default" style="width: 100%;">Load contact</a></td>
            </tr>
            {% for contact in account.contacts.all %}
                <tr class="tr-contact">
                    <td><img src="{{ contact.profile_picture_url }}" class="profile-pic" alt=""/> {{ contact.name }}</td>
                    <td>
                        {% if contact.access_token %}
                            <input type="text" class="form-control input-sm access-token-txt" value="{{ contact.access_token }}">
                        {% else %}
                            <a href="#" class="btn btn-default btn-sm btn-token" data-accountid="{{ account.pk }}" data-lineid="{{ contact.lineid }}">Get token</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock container %}

{% block script %}
<script>
$(function(){
    $('#loadContactBtn').click(function(){
        $(this).parents('tr').detach();
        $('.tr-contact').show();
        return false;
    });

    $('.btn-token').click(function(){
        var params = {
            'account_id': $(this).data('accountid'),
            'lineid': $(this).data('lineid'),
        };
        var td = $(this).parents('td');
        $.post("{% url 'contact_token' %}", params, function(data){
            if(data.success) {
                var inputTxt = $('<input type="text" class="form-control input-sm access-token-txt" />')
                    .attr('value', data.access_token);
                td.html(inputTxt);
            }
        }, 'json');
        return false;
    });

    $('#getContactsBtn').click(function(){
        $.post("{% url 'api.get_contacts' account.pk %}", function(data){
            if(data.success) {
                alert('Command has been sent.');
            }
        }, 'json');
        return false;
    });
    
});
</script>
{% endblock script %}
