{% extends "base.html" %}

{% block css %}
{% endblock css %}

{% block container %}
<div class="container">
    <h1>
        Message history: {{ account }} <small>(last 100 messages)</small>
    </h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Text</th>
                <th>State</th>
                <th>Created on</th>
                <th>Updated on</th>
            </tr>
        </thead>
        <tbody>
            {% for message in send_messages %}
                <tr>
                    <td>{{ message.pk }}</td>
                    <td>{{ message.text }}</td>
                    <td>{{ message.get_state_display }}</td>
                    <td>{{ message.created_on }}</td>
                    <td>{{ message.updated_on }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock container %}

{% block script %}
<script>
</script>
{% endblock script %}
